<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nomenas.findphone"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
    android:versionCode="3"
    android:versionName="1.1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.nomenas.findphone.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.nomenas.findphone.AutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.nomenas.findphone.FindMyPhoneService" />

        <activity
            android:name="com.nomenas.findphone.RingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:showOnLockScreen="true"
            android:label="@string/title_activity_ring"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/FullscreenTheme"
            android:noHistory="true"
            android:autoRemoveFromRecents="true">
        </activity>

        <receiver
            android:name="com.nomenas.findphone.TileEventReceiver"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.microsoft.band.action.ACTION_TILE_OPENED" />
                <action
                    android:name="com.microsoft.band.action.ACTION_TILE_CLOSED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
